.btn-circle.btn-md {
  width: 7vh;
  height: 7vh;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  font-size: 3vh;
  text-align: center;
}

.not-disply {
  display: none;
}

body {
  background-color: rgba(97, 131, 235, 0.397);
}
